<section>
  <h1>{{title}}</h1>
  <img src="/images/{{filename}}" alt="{{title}}">
  <p>Author: {{author}}</p>
  <p>Number of Pages: {{pages}}</p>
  <p>Reviews:</p>
  {{#each reviews}}
  <div class="review-card">
    <h3>{{this.user.name}}</h3>
    <p>{{this.content}}</p>
    <div class="rating-container">
      <div class="rating">{{{starForm}}}</div>
      <div class="stars" data-rating="{{this.rating}}">{{{background}}}</div>
    </div>
  </div>
  {{/each}}
  <div>
    <button id="previous">Previous</button>
    <button id="next">Next</button>
    {{#if title}}
    <button onclick="location.href='/review?title={{title}}&author={{author}}'">Write A Review</button>
    {{else}}
    <button onclick="location.href='review'">Write A Review</button>
    {{/if}}
  </div>
</section>

<script src="/js/render.js"></script>
<script src="/js/carousel.js"></script>