<section>
  <h1>{{title}}</h1>
  <img src="{{filename}}" alt="{{title}}">
  <p>Author: {{author}}</p>
  <p>Number of Pages: {{pages}}</p>
  <p>Reviews:</p>
  {{#each reviews}}
  <div>
    <p>{{this.content}}</p>
    <p>Rating: {{this.rating}}</p>
  </div>
  {{/each}}
  <div>
    <button>Previous</button>
    <button>Next</button>
    <button><a href='/views/review.handlebars'>Write A Review</a></button>
  </div>
</section>

{{!--
How do I connect the images in public/images to the image property in the book object?
 --}}