<section>
  <h1>{{title}}</h1>
  <img src="/images/{{filename}}" alt="{{title}}">
  <p>Author: {{author}}</p>
  <p>Number of Pages: {{pages}}</p>
  <p>Reviews:</p>
  {{#each reviews}}
  <div>
    <p>{{this.content}}</p>
    <p>Rating: {{this.rating}}</p>
  </div>
  {{/each}}
  <div>
    <button>Previous</button>
    <button>Next</button>
    {{#if title}}
    <button onclick="location.href='/review?title={{title}}&author={{author}}'">Write A Review</button>
    {{else}}
    <button onclick="location.href='review'">Write A Review</button>
    {{/if}}
  </div>
</section>