<div class="profile">
    <div class="profile-header">
        <h2>User Profile</h2>
        <p>{{name}}</p>
        <p>{{email}}</p>
    </div>
    <div class="profile-review-container">
        <h2>Reviews</h2>
        {{!-- Display User's Reviews --}}
        {{#each reviews}}
        <div class="review-card" data-book-id="{{this.book.id}}" data-review-id="{{this.id}}">
            <div class="review-header">
                <div class="book-info">
                    <h3>{{this.book.title}}</h3>
                    <h4>{{this.book.author}}</h4>
                </div>
                <div class="rating-container">
                    <div class="rating">{{{starForm}}}</div>
                    <div class="stars" data-rating="{{this.rating}}">{{{background}}}</div>
                </div>
            </div>
            <p class="review-content">{{this.content}}</p>
            <div>
                <button class="edit-btn">Edit</button>
                <button class="delete-btn">Delete</button>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<script src="/js/reviewHandlers.js"></script>
<script src="/js/render.js"></script>